* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrap {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('https://picsum.photos/1200/1200');
    background-size: cover;
}

.container {
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 338px;
    margin: 15px 15px;
    display: flex;
    background-color: rgba(255, 255, 255, .7);
    /* 背景透明 */
    border: 1px solid #888;
    box-shadow: 0 10px 30px rgba(1, 1, 1, 0.543);
    font-family: 'Noto Sans TC', sans-serif;
}

.item .txt {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.item .txt h2 {
    font-weight: 500;
    margin-bottom: .4em;
}

.item .txt p {
    font-weight: 300;
}

.item .txt .btn {
    line-height: 1.5em;
    border: 1px solid #aaa;
    padding: 0 1em;
    align-self: flex-end;
    text-decoration: none;
    border-radius: 200px;
    margin-top: auto;
    color: #aaa;
}

.item .txt .btn:hover {
    background: linear-gradient(-30deg, yellow, green, gray);
    color: #fff;
}